<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnet</title>
</head>
<link rel="stylesheet" href="../styles/index.css">
<body>
    <nav>
        <h2>ARnet &copy;</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ex rerum expedita quaerat possimus deserunt iste quidem quae, reprehenderit atque tenetur, itaque quod? Maxime nobis exercitationem iusto quod eaque suscipit!</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique officiis tempora, porro doloremque sequi, deserunt molestiae a minus, nobis nesciunt maxime! Nostrum, dolor cupiditate libero reiciendis fuga fugiat? Velit, fugit?
        </p>
        <small>today at 10:30 am</small>
    </nav>
</body>
</html>