<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arnet</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../styles/index.css">
<script src="../node_modules/jquery/dist/jquery.min.js">
</script>

<script src="../js/home.js" type="module"></script>

<body>
  <div class="col-md-12 text-center">
    <h1 class="title">Arnet
      <img src="../images/global.svg" alt="" width="50">
    </h1>
  </div>
  <!-- carousel -->
  <div class="col-md-12 text-center">
    <div class="text-center">
      <hr>
      <h2>Cloud systems and distributed machines</h2>
      <hr>
      <img src="../images/connection.svg" alt="" width="300px">
      <p style="font-weight: bold;">We help you design and connect to the cloud more efficiently</p>
      <p style="font-size: 20px;">
        Rather than owning your own computing infrastructure or data centers, <br> companies can rent access to anything
        from applications to storage from a cloud service provider.
      </p>
      <hr>
      <button class="btn btn-success">Get started</button>
    </div>
  </div>
  <div class="card-group text-center">
    <div class="card testimonial" style="padding: 2%; width:min-content; margin:2%">
      <div class="card-body">
        <img src="../images/monitor.svg" alt="" width="150">
        <p>Web apps</p>
        <small>Awesome looking webapps for ecommerce and showcase</small>
      </div>
    </div>
    <div class="card testimonial" style="padding: 2%; width:min-content; margin:2%">
      <div class="card-body text-center">
        <img src="../images/project.svg" alt="" width="150">
        <p>Projects</p>
        <small>New project, technology ideas and startups</small>
      </div>
    </div>
    <div class="card testimonial" style="padding: 2%; width:min-content; margin:2%">
      <div class="card-body text-center">
        <img src="../images/app.svg" alt="" width="150">
        <p>Mini apps</p>
        <small>I simply need an app</small>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card" style="padding:2%">
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel tempore ab iusto praesentium deserunt, dicta
        architecto et nostrum molestiae expedita, itaque aut at pariatur non beatae hic est molestias asperiores?
      </blockquote>
    </div>
  </div>
</body>

</html>